.main {
    display: grid;
    grid-template-columns: 1.5fr 8.5fr;
    grid-template-rows: 100vh;
}

.sidebar {
    padding: 10px;
    text-align: center;
    background: #252527;
    margin-bottom: 10px;
}

a {
    border-top: 1px solid rgba(255,255,255,0.04);
    border-bottom: 1px solid rgba(0,0,0,0.3);
    margin-top: 10px;
}