
<div class="main">
    <div class="sidebar">
            <div style="margin-bottom: 10px; color: white; font-size: 1.5rem">
                Erxk Verduin
            </div>

            <a class="my-links" href="#articles">
                Articles
            </a>

            <a href="https://twitter.com/ErxkVerduin?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @ErxkVerduin</a>
            <app-medium></app-medium>
            <app-github></app-github>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>

