

.header {
    padding: 10px;
    color:#ffffff;
    margin: 20px;
    line-height: 2;
    /* transform: rotate(8deg) translateY(20px); */
}

.title-container {
    width: 550px;
    /* transform: rotate(-8deg) translateY(-10px); */
    background: linear-gradient(to right,#00f260, rgb(5, 117, 230, 0.5), rgb(245, 246, 247, 0));
    border-radius: 8px;
}

h4 {
    display: inline-block;
    padding: 15px;
    line-height: 3;
    max-width: 800px;
}

video {
    pointer-events: none;
    border-radius: 4px;
}

video {
    width: 100vw;
}

.video-container {
    position: relative;
    overflow-x:hidden;
    z-index: -1;
}
.video-container .after {
    width: 100vw;
    height: calc(100vw * 0.5625);
    display: block;
    position: absolute;
    background: rgb(0, 0, 0, 0.75);
    color: white;
    font-size: 2rem;
    bottom: 0px;
    z-index: 99;
    text-align: center;
}

.top {
    font-size: 6rem;
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    min-width: 670px;
}

.middle {
    font-size: 4rem;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    min-width: 670px;
}

.bottom {
    font-size: 3rem;
    position: absolute;
    top: 80%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    min-width: 670px;
}
