<div class="image-container" *ngIf="header$ | async as headerInfo">
  <div>
      <div class="video-container">
        <video autoplay muted loop>
          <source [src]="headerInfo.headerImage | imageToUrl" type="video/mp4">
          My video is broken. Oh no. :(
        </video>
        <div class="after">
          <div class="top">Erxk Verduin</div>
          <div class="middle">{{headerInfo.bio}}</div>
          <div class="bottom">{{headerInfo.header}}</div>
        </div>
      </div>
  </div>
</div>
<div class="title-container">
  <h1 class="header">Articles</h1>
</div>
<a name="articles">
<app-articles></app-articles>
<router-outlet></router-outlet>